* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
}

.content {
  width: 1170px;
  max-width: calc(100% - 48px);
  margin-right: auto;
  margin-left: auto;
}

/*==================== common ==================*/

:root {
  --primary-bg-color-button: #1ebfc1; /* Màu nền chính */
  --primary-text-color: #0d1111; /*màu văn bản chính */
  --secondary-text-color-1: #9da6a5; /* Màu văn bản phụ */
  --secondary-text-color-2: #767e7e; /* Màu văn bản phụ */
  --accent-color: #fff; /* màu nhấn */
}

.btn {
  text-decoration: none;
  color: var(--accent-color);
  text-align: center;
  font-size: 1.8rem;
  font-weight: 600;
  padding: 20px 41px;
  background: var(--primary-bg-color-button);
  border-radius: 14px;
}

.line-clamp {
  display: -webkit-box;
  -webkit-line-clamp: var(--line-clamp, 2);
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.line-clamp
/* ================ Header ================= */

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-top .nav ul {
  display: flex;
  gap: 34px;
}

.header-top .nav ul a {
  color: #2f3a3b;
  font-size: 1.6rem;
  font-weight: 400;
  text-decoration: none;
  padding: 5px;
  background: #ffffff;
}

.header-top {
  padding-top: 59px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-top .nav ul a:hover {
  color: #2f3a3b;
  font-size: 1.6rem;
  font-weight: 600;
}

.header-top .menu a {
  text-decoration: none;
  color: #494949;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 400;
}

.header-top .menu a:hover {
  color: #1ebfc1;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 600;
  padding: 12px 23px;
  border: 1px solid #1ebfc1;
  border-radius: 6px;
}
.header-top .menu a:last-child {
  margin-left: 24px;
}

/* ==========hero-section =========== */

.hero-wrap {
  margin-top: 50px;
}

.hero-section {
  display: flex;
  align-items: center;
}

.hero-section .hero-cta {
  flex: 1;
}
.hero-section .hero-img {
  flex: 1;
}

.hero-cta .highlighted {
  color: var(--secondary-text-color-2);
  font-size: 1.4rem;
  font-weight: 400;
}

.hero-cta .title {
  margin-top: 18px;
  color: var(--primary-text-color);
  font-size: 6.2rem;
  font-weight: 700;
  line-height: 1.16; /* 116.129% */
}

.hero-cta .desc {
  margin-top: 46px;
  color: var(--secondary-text-color-1);
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.77; /* 177.778% */
  width: 374px;
}

.hero-cta .row {
  margin-top: 20px;
}

.hero-cta .row .btn {
  position: relative;
  bottom: 90px;
}

/* =========== Hero-img======== */

.img-big img {
  width: 576px;
  height: 631px;
  object-fit: cover;
}

.course-summary .row .book {
  position: absolute;
}

.course-summary .row .book .book1 {
  position: relative;
  bottom: 0px;
}

.course-summary .row .book .book2 {
  position: relative;
  bottom: 8px;
  left: -36px;
}

.hero-img {
  position: relative;
}

.course-summary .row {
  position: absolute;
  top: 149px;
  left: -43px;
  box-shadow: 0px 10px 80px 0px rgba(0, 0, 0, 0.05);
  display: flex;
  align-items: center;
  background: var(--accent-color);
  padding: 22px 25px;
  width: 157px;
  border-radius: 18px;
}

.course-summary .row .strong {
  color: var(--primary-text-color);
  font-size: 1rem;
  font-weight: 500;
  margin-left: 52px;
}

.scl-summary {
  position: absolute;
  top: 453px;
  left: -62px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--accent-color);
  padding: 16px 25px 23px 25px;
  width: 124px;
  border-radius: 24px;
  box-shadow: 0px 10px 80px 0px rgba(0, 0, 0, 0.05);
}

.scl-summary .list {
  margin-top: 16px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.scl-summary .strong {
  color: var(--primary-text-color);
  font-size: 1rem;
  font-weight: 500;
}

.scl-summary .list img {
  width: 74px;
  height: 6px;
}

.scl-summary .list img .four {
  width: 26px;
  height: 6px;
}

.avt {
  position: absolute;
  top: 500px;
  right: 45px;
  border-radius: 24px;
  padding: 17px 35px;
  background: #fff;
  box-shadow: 0px 12px 80px 0px rgba(0, 0, 0, 0.05);
}

.avt .avt-group {
  display: flex;
  margin-top: 8px;
}

.avt .avt-group img {
  width: 33px;
  height: 33px;
  border-radius: 50%;
  margin-left: -7px;
}

.avt .strong {
  color: var(--primary-text-color);
  font-family: Poppins;
  font-size: 1rem;
  font-weight: 500;
}

.avt .avt-more {
  width: 33px;
  height: 33px;
  border-radius: 50%;
  background-color: var(--primary-bg-color-button);
  margin-left: -7px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--accent-color);
  text-align: center;
  font-family: Poppins;
  font-size: 1rem;
  font-weight: 500;
}

/* ======== Features ==========*/

/* features-top */

.features-top {
  margin-top: 209px;
}

.features-top .highlighted {
  color: var(--secondary-text-color-2);
  font-size: 12px;
  font-weight: 700;
}

.features-top h2 {
  margin-top: 18px;
  color: var(--primary-text-color);
  font-size: 4.2rem;
  font-weight: 700;
  line-height: 1.33; /* 133.333% */
  width: 577px;
}

.features-top .desc {
  margin-top: 18px;
  color: var(--secondary-text-color-1);
  font-size: 1.8rem;
  font-weight: 400;
  width: 590px;
}

.features-list {
  display: flex;
  margin-top: 80px;
  justify-content: space-between;
}

.features-list h3 {
  margin-top: 26px;
  color: var(--primary-text-color);
  font-size: 2rem;
  font-weight: 600;
}

.features-list .desc {
  margin-top: 16px;
  color: var(--secondary-text-color-1);
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.687; /* 168.75% */
  width: 223px;
}

/* ========= Courses ========== */
.courses-top {
  margin-top: 130px;
}

.courses-top .highlighted {
  color: var(--secondary-text-color-2);
  font-size: 12px;
  font-weight: 700;
}

.courses-top h2 {
  margin-top: 18px;
  color: var(--primary-text-color);
  font-size: 4.2rem;
  font-weight: 700;
  line-height: 1.33;
  width: 577px;
}

.courses-top .row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.courses-top .desc {
  margin-top: 18px;
  color: var(--secondary-text-color-1);
  font-size: 1.8rem;
  font-weight: 400;
  width: 590px;
}

.courses-top .row a {
  color: var(--primary-bg-color-button);
  font-size: 14px;
  font-weight: 700;
  text-decoration-line: underline;
}

.courses-list {
  display: flex;
  margin-top: 79px;
  justify-content: space-between;
  gap: 47px;
}

.courses-list h3 a {
  margin-top: 26px;
  color: var(--primary-text-color);
  font-size: 2rem;
  font-weight: 600;
  text-decoration: none;
}

.body-crs .desc a {
  color: var(--secondary-text-color-1);
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.687; /* 168.75% */
  margin-right: 10px;
  text-decoration: none;
}
.courses-item .img-cover img {
  width: 359px;
  border-radius: 8px;
  opacity: 0.75;
}

.courses-item .img-cover img:hover {
  opacity: 1;
}

.courses-item {
  position: relative;
}

.body-crs {
  position: absolute;
  bottom: -124px;
  left: 17px;
  width: 325px;
  height: 195px;
  padding: 18px 25px 29px 25px;
  border-radius: 8px;
  background: var(--accent-color);
  box-shadow: 0px 16px 90px 0px rgba(0, 0, 0, 0.05);
}

.body-crs .price {
  margin-top: 16px;
  color: var(--secondary-text-color-2);
  font-size: 1.6rem;
  font-weight: 400;
  display: block;
}

.body-crs .price strong {
  margin-top: 16px;
  color: var(--primary-text-color);
  font-size: 2.2rem;
  font-weight: 700;
}

.body-crs .line-clamp {
  margin-top: 6px;
}

.body-crs .row {
  margin-top: 18px;
  display: flex;
  align-items: center;
}

.body-crs .row .dots {
  display: inline-block;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  margin-right: 8px;
  background: var(--primary-bg-color-button);
}

.body-crs .body-crs-bottom {
  display: flex;
  gap: 10px;
  justify-content: flex-start;
}

/* ========== Statistical ===========  */

.statistical {
  margin-top: 414px;
}

.sta-people {
  display: flex;
  justify-content: space-around;
}

.statistical .row {
  display: flex;
  flex-direction: column;
}

.statistical .row strong {
  color: var(--primary-text-color);
  text-align: center;
  font-size: 62px;
  font-weight: 700;
}

.statistical .row span {
  margin-top: 11px;
  display: block;
  color: var(--secondary-text-color-1);
  text-align: center;
  font-size: 18px;
  font-weight: 400;
}

/* ========== testimonial ===========  */

.testimonial {
  margin-top: 264px;
  height: 481px;
  width: 100%;
}

.testimonial-wrap {
  display: flex;
}

.testimonial-wrap .comment {
  flex: 1;
}

.testimonial-wrap .avt-group-test {
  flex: 1;
  position: relative;
}

.testimonial-wrap .head-desc {
  margin-top: 27px;
  color: #5d6564;
  font-size: 3.2rem;
  font-weight: 400;
  line-height: 1.5; /* 150% */
  width: 419px;
}

.testimonial-wrap .desc {
  margin-top: 33px;
  color: var(--secondary-text-color-2);
  font-size: 1.6rem;
  font-weight: 400;
}

.testimonial-wrap strong {
  color: #070707;
  font-size: 1.6rem;
  font-weight: 500;
}

.testimonial-wrap .row {
  margin-top: 52px;
  display: flex;
  gap: 30px;
}

.avt-group-test span {
  border-radius: 50%;
  display: block;
  position: absolute;
}

.avt-group-test .cricle1 {
  top: 107px;
  left: 306px;
  width: 235px;
  height: 235px;
  background: #ff8282;
}

.avt-group-test .cricle2 {
  top: 0px;
  left: 578px;
  width: 92px;
  height: 92px;
  background: #1ebfc1;
}

.avt-group-test .cricle3 {
  top: 0px;
  left: 135px;
  width: 110px;
  height: 110px;
  background: #bf83ff;
}

.avt-group-test .cricle4 {
  left: 524px;
  top: 403px;
  width: 78px;
  height: 78px;
  background: #ff947a;
}

.avt-group-test .cricle5 {
  top: 258px;
  left: 736px;
  width: 78px;
  height: 78px;
  background: #ffc147;
}

.avt-group-test .cricle6 {
  top: 374px;
  left: 167px;
  width: 78px;
  height: 78px;
  background: #b1dfdc;
}

/* ========== note-cta ===========  */

.note-cta {
  margin-top: 130px;
  background: #def6f5;
  width: 1440px;
  padding: 76px 289px 87px 135px;
  margin-right: auto;
  margin-left: auto;
}

.note-cta h2 {
  color: var(--primary-text-color);
  font-size: 4.2rem;
  font-weight: 700;
}

.note-cta .desc {
  margin-top: 18px;
  color: var(--secondary-text-color-2);
  font-size: 1.8rem;
  font-weight: 400;
}

.note-cta .row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/*======== footer ==========  */

.footer {
  padding: 131px 135px 50px 135px;
}

.footer .row {
  display: flex;
  justify-content: space-between;
}

.footer .footer-list {
  display: flex;
  gap: 144px;
}

.footer-list .footer-items h3 {
  color: #2e2e2e;
  font-size: 1.8rem;
  font-weight: 500;
}

.footer-list .footer-items ul {
  margin-top: 25px;
  display: flex;
  flex-direction: column;
  gap: 19px;
}

.footer-list .footer-items ul a {
  color: #535353;
  font-size: 1.6rem;
  font-weight: 400;
  text-decoration: none;
  white-space: nowrap;
}

.footer-items .row {
  display: flex;
  margin-top: 19px;
  justify-content: flex-start;
  align-items: center;
}

.footer-items .row a {
  color: #535353;
  font-size: 1.6rem;
  font-weight: 400;
  text-decoration: none;
}

.footer-items .social-nav {
  margin-top: 25px;
}
.footer-items .row img {
  width: 20px;
  height: 20px;
  margin-right: 9px;
}

.footer .content > p {
  margin-top: 80px;
  color: #b0b5b4;
  font-size: 1.8rem;
  font-weight: 400;
  text-align: center;
}
